<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>WATCH PALACE</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/Admin/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <!-- Add this line within the <head> tag -->
<link rel="stylesheet" href="styles.css">

  <link href="/Admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="dashboard" class="brand-wrap">
        <h1>
          <span style="color: #f30d0d; font-family: Helvetica">CLOC</span><span
            style="color: #000000; font-family: Times New Roman">ksy</span>
        </h1>
        <!-- <img src="/Admin/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard"> -->
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
          <div class="submenu">
            <a href="productsList">Product List</a>
            <a href="addProduct">Add product</a>
            <!-- <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a> -->
            <a href="productCategory">Categories</a>
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
          <div class="submenu">
            <a href="orderDetails">Order detail</a>
            <!-- <a href="orderView">View Orders </a> -->
            <!-- <a href="page-orders-2.html">Order list 2</a> -->
                        
          </div>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-store"></i>
            <span class="text">Users</span>
          </a>
          <div class="submenu">
            <a href="/admin/userList">Users Managment</a>
            <!-- <a href="/admin/">User login</a> -->
            <!-- <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-seller-detail.html">Seller profile</a> -->
          </div>
        </li>
        <!-- <li class="menu-item has-submenu ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="addProduct">Add product</a>
                        <a href="page-form-product-2.html" >Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li> -->
        <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Transaction 1</a>
                        <a href="#">Transaction 2</a> -->
        <!-- </div>
                </li> -->
        <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/">User login</a>
                        <a href="#">User registration</a>
                        <a href="#">Error 404</a> -->
        <!-- </div>
                </li> -->
        <!-- <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
      </ul>
      <hr />
      <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="#">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a> -->
      <!-- </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <div class="input-group">
            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
            <button class="btn btn-light bg" type="button">
              <i class="material-icons md-search"></i>
            </button>
          </div>
          <datalist id="search_terms">
            <option value="Products"></option>
            <option value="New orders"></option>
            <option value="Apple watches"></option>
            <option value="Ahmed Hassan"></option>
          </datalist>
        </form>
      </div>
      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <i class="material-icons md-notifications animation-shake"></i>
              <span class="badge rounded-pill">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
          </li>
          <li class="dropdown dropstart nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i
                class="material-icons md-public"></i></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
              <a class="dropdown-item text-brand" href="#"><img src="/Admin/imgs/theme/flag-us.png"
                  alt="English" />English</a>
              <a class="dropdown-item" href="#"><img src="/Admin/imgs/theme/flag-fr.png" alt="Français" />Français</a>
              <a class="dropdown-item" href="#"><img src="/Admin/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
              <a class="dropdown-item" href="#"><img src="/Admin/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
            </div>
          </li>

          <div class="btn-group dropstart nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
              <img class="img-xs rounded-circle" src="/Admin/imgs/people/avatar-2.png" alt="User" /></a>

            <ul class="dropdown-menu">
              <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/admin/logout"><i
                  class="material-icons md-exit_to_app"></i>Logout</a>
            </ul>
          </div>
        </ul>
      </div>
    </header>
