<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>WATCH PALACE</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/Admin/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <!-- Add this line within the <head> tag -->
  <link rel="stylesheet" href="styles.css">

  <link href="/Admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />


</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="dashboard" class="brand-wrap">
        <h1>
          <span style="color: #f30d0d; font-family: Helvetica">CLOC</span><span
            style="color: #000000; font-family: Times New Roman">ksy</span>
        </h1>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="productsList">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>

        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/productCategory">
            <i class="icon material-icons md-category"></i>
            <span class="text">Categories</span>
          </a>

        </li>
        <li class="menu-item">
          <a class="menu-link" href="orderDetails">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders Detail</span>
          </a>

        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/userList">
            <i class="icon material-icons md-store"></i>
            <span class="text">Users Managment</span>
          </a>

        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-gift-fill mx-1" style="color: darkgray;" viewBox="0 0 16 16">
              <path
                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z" />
            </svg>
            <span class="text mx-2">Coupon List</span>
          </a>

        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/listBanner"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-images mx-1" style="color: darkgray;" viewBox="0 0 16 16">
              <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
              <path
                d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
            </svg>

            <span class="text mx-2">Banner List</span>
          </a>

        </li>

        <li class="menu-item">
          <a class="menu-link" href="/admin/salesReport">
            <i class="icon material-icons md-insert_chart"></i>
            <span class="text">Sales Report</span>
          </a>
        </li>


      </ul>
      <hr />

      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <div class="input-group">
            <input list="search_terms" type="text" class="form-control" placeholder="Search term" name="search" />
            <button class="btn btn-light bg" type="submit">
              <i class="material-icons md-search"></i>
            </button>
          </div>


        </form>
      </div>
      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
            class="material-icons md-apps"></i> </button>
        <ul class="nav">


          <div class="btn-group dropstart nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
              <img class="img-xs rounded-circle" src="/Admin/imgs/people/avatar-2.png" alt="User" /></a>

            <ul class="dropdown-menu">

              <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/admin/logout"><i
                  class="material-icons md-exit_to_app"></i>Logout</a>

            </ul>
          </div>
        </ul>
      </div>
    </header>