<!doctype html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vicodin - Medical eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="userAsset/img/favicon.png" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="userAsset/css/font-icons.css">
    <!-- plugins css -->
    <link rel="stylesheet" href="userAsset/css/plugins.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="userAsset/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="userAsset/css/responsive.css">
</head>

<body>

    <div class="body-wrapper">

        <!-- 404 area start -->
        <div class="ltn__404-area ltn__404-area-1 mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="error-404-inner text-center">
                            <div class="error-img mb-30">
                                <img src="userAsset/img/others/error-1.png" alt="#">
                            </div>
                            <h1 class="error-404-title d-none">404</h1>
                            <h2>Page Not Found!</h2>
                            <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.
                            </p>
                            <div class="btn-wrapper">
                                <a href="/" class="btn btn-transparent"><i
                                        class="fas fa-long-arrow-alt-left"></i> BACK TO HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 area end -->

    </div>
    <!-- Body main wrapper end -->

    <!-- All JS Plugins -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

</body>


</html>