<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Shop | eCommers</title>
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <!-- Custom CSS -->
    <style>
        body {
            background: linear-gradient(135deg, #65e0f6 0%, #f53c09 100%);
            background-size: cover;
            height: 645px;
        }

        .card {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            border: none;
        }

        .card-header {
            background-color: transparent;
            border-bottom: none;
            text-align: center;
            padding: 1rem;
        }

        .card-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .form-outline {
            position: relative;
        }

        .form-outline input {
            width: 100%;
            padding: 1rem;
            border: 2px solid #17bedb;
            border-radius: 5px;
            font-size: 16px;
        }

        .form-outline input:focus {
            outline: none;
            border-color: #88ff00;
        }

        .btn-primary {
            background-color: #ff0000;
            border: none;
        }

        .btn-primary:hover {
            background-color: #cfc7c7;
        }

        /* Add any additional custom styles here */

        /* Responsive Styles */
        @media (max-width: 767px) {
            /* Add responsive styles here */
        }
    </style>
</head>
<body>
    
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                
                <div class="col-lg-6">
                    <div class="card rounded-3 text-black">
                        <div class="card-header">
                            <div class="logo">
                                <h1>
                                  <span style="color: #f30d0d; font-family: Helvetica">CLOC</span><span
                                    style="color: #000000; font-family: Times New Roman">ksy</span>
                                </h1>
                              </div>
                              <hr>
                              <br>
                            <h4 class="card-title">Forgot Password</h4>
                        </div>
                        <div class="card-body p-md-5 mx-md-4">
                            <form action="/forget" method="post">
                                <div class="form-outline mb-4">
                                    <input type="email" id="form2Example22" name="email" class="form-control" placeholder="Enter Your Email" required>
                                </div>
                                <% if(typeof message !=='undefined' ){ %>
                                <span id="er2" style="color: rgb(241, 7, 7); text-align: center">
                                    <%= message%>
                                </span>
                                <% } %>
                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JS here -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.slicknav.min.js"></script>
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>
