
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WATCH PALACE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <span style='color: #f30d0d; font-family: Helvetica'>cloc</span><span style='color: #000000; font-family: Times New Roman'>ksy</span>                </div>
                </div>
            </div>
        </div>
    </div>
	
	<main>
        <!-- Hero Area Start-->
        <div class="slider-area">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Register</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Hero Area End-->
        <!--================register_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>Already have an account?</h2>
                                <p>There are advances being made in science and technology 
									everyday, and a good example of this is the</p>
                                <a href="/login" class="btn_3">Login Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>CREATE AN ACCOUNT</h3>
						        <% if (typeof message !== "undefined") { %>
									<p style=" padding: 5px 10px; border: 1px solid red; margin-top: 15px; background-color: rgb(236, 160, 160); color: red;" class="text-center"><%= message %></p>
								  <% } %>
								
								  <form class="row contact_form" action="/register" method="post" novalidate="novalidate" onsubmit="return validateForm()">
                                    <div class="col-md-12 form-group p_star">
										<input type="text" class="form-control" id="name" name="name" value="" placeholder="Username">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" id="email" name="email" value="" placeholder="Email Address">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="number" name="mob" value="" placeholder="Mobile Number">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
										<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" value="" placeholder="Confirm Password">

                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account d-flex align-items-center">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Keep me logged in</label>
                                        </div>
                                        <button type="submit" value="submit" class="btn btn-primary btn-block">Register</button>
                                        <!-- <a class="lost_pass" href="#">forget password?</a> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================register_part end =================-->
    </main>

	<script>
		function validateForm() {
			var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
            var number = document.getElementById("number").value
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirmPassword").value;
		
			if (name === "") {
				alert("Please enter a username");
				return false;
			}
		
			if (email === "") {
				alert("Please enter an email address");
				return false;
			}
		
			if (number === "") {
				alert("Please enter the mobile Number");
				return false;
			}
		
			// Add more specific validation for email format if needed
		
			if (password === "") {
				alert("Please enter a password");
				return false;
			}
		
			if (confirmPassword === "") {
				alert("Please confirm your password");
				return false;
			}
		
			if (password !== confirmPassword) {
				alert("Passwords do not match");
				return false;
			}
		
			return true;
		}
		</script>
		


<%- include("../layouts/userPartials/footer.ejs") %>